{{#each collections as |collection|}}
  <div class="col col-md-3 grid" data-col-id="{{colllection.id}}" data-col-name="{{collection.name}}" data-col-desc="{{collection.description}}">
    <img src="assets/img/closet.png">
    <h3> {{collection.name}} </h3>
    <p> {{collection.description}}</p>
  </div>

{{/each}}
