{{#each shoes as |shoe|}}
  <div class="col col-md-3 grid" data-shoe-id="{{shoe.id}}" data-shoe-name="{{shoe.name}}" data-shoe-brand="{{shoe.brand}}" data-shoe-cap="{{shoe.caption}}" data-user-id="{{shoe.user.id}}">
    <img src="assets/img/shoes.png">
    <h1> {{shoe.user.email}} </h1>
    <h3> {{shoe.name}} x {{shoe.brand}}</h3>
    <p> {{shoe.caption}}</p>
  </div>

{{/each}}
